
body{
background: #A4B5A8;
border-radius: 145px;
margin:58px;
}

.my-other-box {
    position: absolute;
    width: 1330px;
    height: 550px;
    left: 57px;
    top: 54px;
    right: 57px;
    bottom:54px;
    
    background: #A8BDAD;
    border-radius: 70px;
}



header{
    position: absolute;
    left: 114px;
    top: 134px;
    
    font-family:'Times New Roman';
    font-weight: bold;
    font-size: 160px;
    line-height: 126.86%;
    /* or 228px */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.24em;
    
    color: #FCFCFC;



}

h2{

    z-index:2;
    position:absolute;
    width: 2000px;
    height:1200px;
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    line-height: 299px;
    display:flex;
    align-items: center;
    text-align:right;
    
    color: #5A5454;

    
}

h4{
    z-index:2;
    position:absolute;
    width: 807px;
    height: 2000px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 99px;
    line-height: 114px;
    display: flex;
    align-items: center;
    text-align:left;
    color: #6B6B6B;
    
}

h3{
    z-index:2;
    position: absolute;
    width: 353.07px;
    height: 303.6px;
    left: 57px;
    top: 986px;
}

h5{
    z-index:2;
    position: absolute;
    width: 1359.39px;
    height: 993.77px;
    left: 373px;
    top: 446px;

}

h6{
    position: absolute;
    width: 1070px;
    height: 812px;
    bottom:-750px;
}
